<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openplan.server.mybatis.mapper.ConsumerCategoryMapper">
  <resultMap id="BaseResultMap" type="com.openplan.server.entity.model.ConsumerCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="consumer_type" jdbcType="SMALLINT" property="consumerType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="BIGINT" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, consumer_type, name, intro, create_at, update_at
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_consumer_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="com.openplan.server.entity.model.ConsumerCategory">
    update tbl_consumer_category
		set deleted = 1, update_at = #{updateAt,jdbcType=BIGINT}
		where id = #{id,jdbcType=INTEGER} and deleted = 0
  </delete>
  <insert id="insert" parameterType="com.openplan.server.entity.model.ConsumerCategory" useGeneratedKeys="true" keyProperty="id">
    insert into tbl_consumer_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="consumerType != null">
        consumer_type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="consumerType != null">
        #{consumerType,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.openplan.server.entity.model.ConsumerCategory">
    update tbl_consumer_category
    <set>
      <if test="consumerType != null">
        consumer_type = #{consumerType,jdbcType=SMALLINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER} and deleted = 0
  </update>
  <select id="listAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_consumer_category
    where deleted = 0
  </select>
</mapper>