<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openplan.server.mybatis.mapper.PlacerMapper">
	<resultMap id="BaseResultMap" type="com.openplan.server.entity.model.Placer">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="marker" jdbcType="VARCHAR" property="marker" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="intro" jdbcType="VARCHAR" property="intro" />
		<result column="place_type" jdbcType="SMALLINT" property="placeType" />
		<result column="level" jdbcType="SMALLINT" property="level" />
		<result column="province_no" jdbcType="INTEGER" property="provinceNo" />
		<result column="city_no" jdbcType="INTEGER" property="cityNo" />
		<result column="region_no" jdbcType="INTEGER" property="regionNo" />
		<result column="province_name" jdbcType="VARCHAR" property="provinceName" />
		<result column="city_name" jdbcType="VARCHAR" property="cityName" />
		<result column="region_name" jdbcType="VARCHAR" property="regionName" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="xlength" jdbcType="INTEGER" property="xlength" />
		<result column="ylength" jdbcType="INTEGER" property="ylength" />
		<result column="longitude" jdbcType="VARCHAR" property="longitude" />
		<result column="latitude" jdbcType="VARCHAR" property="latitude" />
		<result column="geohash" jdbcType="VARCHAR" property="geohash" />
		<result column="rented" jdbcType="BIT" property="rented" />
		<result column="enable" jdbcType="BIT" property="enable" />
		<result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
		<result column="update_at" jdbcType="BIGINT" property="updateAt" />
	</resultMap>
	<sql id="Base_Column_List">
		id, marker, name, intro, place_type, level, province_no, city_no, region_no, province_name,
		city_name, region_name, address, xlength, ylength, longitude, latitude, geohash,
		rented, enable, create_at, update_at
	</sql>
	<sql id="Base_Condition_Query_Sql">
		<if test="marker != null">
			and marker = #{marker,jdbcType=VARCHAR}
		</if>
		<if test="name != null">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="intro != null">
			and intro = #{intro,jdbcType=VARCHAR}
		</if>
		<if test="placeType != null">
			and place_type = #{placeType,jdbcType=SMALLINT}
		</if>
		<if test="level != null">
			and level = #{level,jdbcType=SMALLINT}
		</if>
		<if test="provinceNo != null">
			and province_no = #{provinceNo,jdbcType=INTEGER}
		</if>
		<if test="cityNo != null">
			and city_no = #{cityNo,jdbcType=INTEGER}
		</if>
		<if test="regionNo != null">
			and region_no = #{regionNo,jdbcType=INTEGER}
		</if>
		<if test="xlength != null">
			and xlength = #{xlength,jdbcType=INTEGER}
		</if>
		<if test="ylength != null">
			and ylength = #{ylength,jdbcType=INTEGER}
		</if>
		<if test="longitude != null">
			and longitude = #{longitude,jdbcType=VARCHAR}
		</if>
		<if test="latitude != null">
			and latitude = #{latitude,jdbcType=VARCHAR}
		</if>
		<if test="geohash != null">
			and geohash like #{geohash,jdbcType=VARCHAR}"%"
		</if>
		<if test="rented != null">
			and rented = #{rented,jdbcType=BIT}
		</if>
	</sql>
	<sql id="Page_Condition_Query_Sql">
		<if test="order != null">
			order by ${order} ${sort}
		</if>
		<if test="limit != null">
			limit #{limit,jdbcType=INTEGER}
		</if>
		<if test="offset != null">
			offset #{offset,jdbcType=INTEGER}
		</if>
	</sql>

	<select id="getById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where id = #{id,jdbcType=INTEGER} and deleted = 0
	</select>
	<delete id="deleteById" parameterType="com.openplan.server.entity.model.Placer">
		update tbl_placer
		set deleted = 1, update_at = #{updateAt,jdbcType=BIGINT}
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.openplan.server.entity.model.Placer" useGeneratedKeys="true" keyProperty="id">
		insert into tbl_placer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="marker != null">
				marker,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="intro != null">
				intro,
			</if>
			<if test="placeType != null">
				place_type,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="provinceNo != null">
				province_no,
			</if>
			<if test="cityNo != null">
				city_no,
			</if>
			<if test="regionNo != null">
				region_no,
			</if>
			<if test="provinceName != null">
				province_name,
			</if>
			<if test="cityName != null">
				city_name,
			</if>
			<if test="regionName != null">
				region_name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="xlength != null">
				xlength,
			</if>
			<if test="ylength != null">
				ylength,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="geohash != null">
				geohash,
			</if>
			<if test="rented != null">
				rented,
			</if>
			<if test="enable != null">
				enable,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="marker != null">
				#{marker,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				#{intro,jdbcType=VARCHAR},
			</if>
			<if test="placeType != null">
				#{placeType,jdbcType=SMALLINT},
			</if>
			<if test="level != null">
				#{level,jdbcType=SMALLINT},
			</if>
			<if test="provinceNo != null">
				#{provinceNo,jdbcType=INTEGER},
			</if>
			<if test="cityNo != null">
				#{cityNo,jdbcType=INTEGER},
			</if>
			<if test="regionNo != null">
				#{regionNo,jdbcType=INTEGER},
			</if>
			<if test="provinceName != null">
				#{provinceName,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				#{cityName,jdbcType=VARCHAR},
			</if>
			<if test="regionName != null">
				#{regionName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="xlength != null">
				#{xlength,jdbcType=INTEGER},
			</if>
			<if test="ylength != null">
				#{ylength,jdbcType=INTEGER},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="geohash != null">
				#{geohash,jdbcType=VARCHAR},
			</if>
			<if test="rented != null">
				#{rented,jdbcType=BIT},
			</if>
			<if test="enable != null">
				#{enable,jdbcType=BIT},
			</if>
			<if test="createAt != null">
				#{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateAt != null">
				#{updateAt,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateById" parameterType="com.openplan.server.entity.model.Placer">
		update tbl_placer
		<set>
			<if test="marker != null">
				marker = #{marker,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="intro != null">
				intro = #{intro,jdbcType=VARCHAR},
			</if>
			<if test="placeType != null">
				place_type = #{placeType,jdbcType=SMALLINT},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=SMALLINT},
			</if>
			<if test="provinceNo != null">
				province_no = #{provinceNo,jdbcType=INTEGER},
			</if>
			<if test="cityNo != null">
				city_no = #{cityNo,jdbcType=INTEGER},
			</if>
			<if test="regionNo != null">
				region_no = #{regionNo,jdbcType=INTEGER},
			</if>
			<if test="provinceName != null">
				province_name = #{provinceName,jdbcType=VARCHAR},
			</if>
			<if test="cityName != null">
				city_name = #{cityName,jdbcType=VARCHAR},
			</if>
			<if test="regionName != null">
				region_name = #{regionName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="xlength != null">
				xlength = #{xlength,jdbcType=INTEGER},
			</if>
			<if test="ylength != null">
				ylength = #{ylength,jdbcType=INTEGER},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="geohash != null">
				geohash = #{geohash,jdbcType=VARCHAR},
			</if>
			<if test="rented != null">
				rented = #{rented,jdbcType=BIT},
			</if>
			<if test="enable != null">
				enable = #{enable,jdbcType=BIT},
			</if>
			<if test="createAt != null">
				create_at = #{createAt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateAt != null">
				update_at = #{updateAt,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER} and deleted = 0
	</update>
	<select id="getByMarker" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where marker = #{marker,jdbcType=VARCHAR} and deleted = 0
	</select>
	<select id="listByCityNo" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where city_no = #{cityNo,jdbcType=INTEGER} and deleted = 0
	</select>
	<select id="listByRegionNo" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where region_no = #{regionNo,jdbcType=INTEGER} and deleted = 0
	</select>
	<select id="listByLikeGeohash" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where deleted = 0 and geohash like
		#{geohash,jdbcType=VARCHAR}"%"
	</select>
	<select id="countAll" resultType="int">
		select count(1)
		from tbl_placer
		where deleted = 0
	</select>
	<select id="countByCondition" resultType="int" parameterType="java.util.Map">
		select
		count(1)
		from tbl_placer
		where deleted = 0
		<include refid="Base_Condition_Query_Sql" />
	</select>
	<select id="listByCondition" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from tbl_placer
		where deleted = 0
		<include refid="Base_Condition_Query_Sql" />
		<include refid="Page_Condition_Query_Sql" />
	</select>
</mapper>