<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openplan.server.mybatis.mapper.ZhZipcodeMapper">
  <resultMap id="BaseResultMap" type="com.openplan.server.domain.model.ZhZipcode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="region_no" jdbcType="VARCHAR" property="regionNo" />
    <result column="zip_number" jdbcType="VARCHAR" property="zipNumber" />
    <result column="code" jdbcType="VARCHAR" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    id, region_no, zip_number, code
  </sql>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_zh_zipcode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tbl_zh_zipcode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.openplan.server.domain.model.ZhZipcode" useGeneratedKeys="true"
		keyProperty="id">
    insert into tbl_zh_zipcode (region_no, zip_number, 
      code)
    values (#{regionNo,jdbcType=VARCHAR}, #{zipNumber,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.openplan.server.domain.model.ZhZipcode">
    update tbl_zh_zipcode
    <set>
      <if test="regionNo != null">
        region_no = #{regionNo,jdbcType=VARCHAR},
      </if>
      <if test="zipNumber != null">
        zip_number = #{zipNumber,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="listAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_zh_zipcode
  </select>
  <select id="listByCityNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_zh_zipcode
    where region_no in (select region_no from tbl_zh_city where city_no = #{cityNo,jdbcType=INTEGER})
  </select>
  <select id="listByProvinceNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    s.id, s.region_no, s.zip_number, s.code
    from tbl_zh_region as m left join tbl_zh_zipcode as s on m.region_no = s.region_no
    where m.city_no in (select city_no from tbl_zh_city where province_no = #{provinceNo,jdbcType=INTEGER})
  </select>
</mapper>